alias ..="cd .."
alias down="cd ~/Downloads"
alias lsa="ls -al"
alias buno="bun update && bun outdated"
alias bunu="buno"
alias nubo="nub install && nub outdated"
alias ports="lsof -i -P | grep LISTEN"
alias j="just"

# start pi with secrets injected via dotenvxZ
pi() {
	 dotenvx run -f ~/.dotfiles/.pi/.env.personal -- pi "$@"
}
piw() {
	 dotenvx run -f ~/.dotfiles/.pi/.env.work -- pi "$@"
}
