logs
*.log
.DS_Store
coverage/
keys/*
.env*
!.env*.sops
!.env*.sops.*
node_modules/
vendor/
tmp
.dev/
.age*.txt
~/

# .pi specific
.pi/**/bin/
.pi/**/datadog/
.pi/**/extensions/*.ts
.pi/**/extensions/*.jsonl
.pi/**/git/
.pi/**/mcp-oauth/
.pi/**/npm/
.pi/**/sessions/
.pi/**/mcp-cache.json
.pi/**/mcp-onboarding.json
.pi/**/trust.json
.pi/**/models-store.json
.pi/**/pi-atlas-cache.json
