[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[user]
	name = Daniel Freytag
	email = daniel@frytg.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOcshbKSauqPwZ4+Ofm7ncDWJQOCvw0ntsL9F9YEDUnR

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
